<mat-form-field class="add-trait-input" subscriptSizing="dynamic">
    <input
      matInput
      [(ngModel)]="traitNameToAdd"
      placeholder="Eigenschaft"
      (keydown.enter)="addTrait()"
    />
  </mat-form-field>
  <mat-checkbox [(ngModel)]="isNoGo">No-Go!</mat-checkbox>
<div>
  <mat-radio-group [(ngModel)]="selectedImpact">
    <mat-radio-button *ngFor="let impact of impacts" [value]="impact.value">{{impact.displayText}}</mat-radio-button>
  </mat-radio-group>
</div>
  <div>
    <button [disabled]="!canAdd()" mat-flat-button color="primary" (click)="addTrait()" class="add-trait-button">
      Hinzufügen
    </button>
  </div>  

  <div class="trait-badge-container">
    <div class="trait-badge" *ngFor="let trait of traits; let i = index">
      {{ trait.name }} <i class="fa-solid thumb-icon" [ngClass]="[getColor(trait), getIcon(trait)]"></i>
      <button
        mat-icon-button
        class="delete-button"
        (click)="removeTrait(trait.name)"      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>