<mat-grid-list cols="3" rowHeight="600px">
  <mat-grid-tile [colspan]="2">
    <div class="table-container">
      <app-friends-table
        (friendRemoved)="removeFriend($event)"
        [friends]="friends"
        [traits]="traits"
      ></app-friends-table>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" class="traits-tile tile">
    <div class="container">
      <app-traits-container
        [traits]="traits"
        (traitAdded)="addTrait($event)"
        (traitDeleted)="removeTrait($event)"
      ></app-traits-container>

      <app-add-friends (friendAdded)="addFriend($event)"></app-add-friends>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<hr class="separator" />
<app-file-footer (dataLoaded)="onFileChange($event)"></app-file-footer>
